html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #000;
}

.Registration-student {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Registration-student .background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Registration-student .rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.05);
  backdrop-filter: blur(5px) brightness(80%);
  -webkit-backdrop-filter: blur(5px) brightness(80%);
}

.Registration-card {
  position: relative;
  width: 1077px;
  height: 750px;
}

.Registration-card .card-bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.Registration-card .rectangle-2 {
  position: absolute;
  top: 0;
  left: 540px;
  width: 537px;
  height: 750px;
  background-color: rgba(137, 52, 59, 0.75);
  border-radius: 0px 10px 10px 0px;
}

.left-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 540px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
  box-sizing: border-box;
  text-align: left;
}

.left-panel .text-wrapper-2 {
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 0px;
  max-width: 465px;
}

.left-panel .text-wrapper-9 {
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.4;
  max-width: 441px;
}

.right-panel {
  position: absolute;
  top: 0;
  left: 540px;
  width: 537px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
}

.header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.text-wrapper {
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  margin: 0;
}

.admin-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #f8c400;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  }

  .admin-btn:hover {
    background: #e0b200;
  }

.admin-btn .swap {
  width: 18px;
  height: 18px;
}

.input-group {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 500;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input#firstname {
  padding-left: 30px; 
}

.input-wrapper input#lastname {
  padding-left: 10px; 
}

.input-field {
  width: 85%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px 35px;
  font-size: 16px;
  color: #fff;
  outline: none;
  font-weight: 400;
}

.input-field::placeholder {
  color: #ffffffb2;
}

.input-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

.input-wrapper .hide {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.Sign-up-btn {
  width: 100%;
  height: 50px;
  background-color: #f8c400;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
}

.Sign-up-btn:hover {
  background: #e0b200;
}

.Already-have-an-account {
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.text-wrapper-8 {
  text-decoration: underline;
  color: #ffffff;
}

